[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "repello"]
	path = repello
	url = https://github.com/thomasgstewart/repello
[submodule "tangram.pipe"]
	path = tangram.pipe
	url = https://github.com/thomasgstewart/tangram.pipe
